.bottomBlocks {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top: 4px solid white;
}

.bottomBlocks p {
  line-height: 2rem;
  font-weight: 600;
}

.headline,
.quote {
  font-weight: 800;
  letter-spacing: -0.075rem;
  display: block;
  padding-bottom: 1rem;
}
.headline {
  font-size: 3rem;
}
.quote {
  font-size: 2.5rem;
  line-height: 3.75rem;
}

.figcaption {
  font-size: 1.25rem;
  font-weight: 200;
}
.figcaption span {
  font-weight: 400;
}
.bottomBlocks img {
  z-index: -1;
}

.leftWrapTop {
  background: url("../images/ray-sm.jpg");
  background-size: cover;
  background-position: 50% 35%;
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.leftWrapTop div {
  max-width: 675px;
  color: white;
  text-align: center;
}

.rightWrapTop {
  width: 100%;
  position: relative;
  justify-self: center;
  align-self: center;
  background-size: cover;
  background-position: 50% 35%;
  padding: 4rem;
  color: #787878;
  display: none;
}
.rightWrapTop figcaption {
  color: var(--lightGrey);
}

.leftWrapBtm {
  width: 100%;
  background: var(--accentGradient);
  color: var(--whiteColor);
  display: flex;
  justify-content: flex-end;
  padding: 4rem;
  display: none;
}

.leftWrapBtm p {
  color: white;
  font-weight: 500;
}

.leftWrapBtm figure {
  padding: 2rem 0rem 2rem 4rem;
  max-width: 675px;
  justify-self: flex-end;
}

.rightWrapBtm {
  position: relative;
  justify-self: center;
  align-self: center;
  object-position: center;
  background: url("../images/trio-sm-pink.jpg");
  background-size: cover;
  background-position: 50% 35%;
  padding: 4rem;
  width: 100%;
  justify-self: center;
  color: white;
  text-align: center;
}
.rightWrapBtm figure {
  max-width: 675px;
  padding: 2rem;
}

@media (min-width: 850px) {
  .bottomBlocks {
    flex-direction: row;
  }
  .headline {
    font-size: 3rem;
  }
  .leftWrapTop {
    width: 50%;
    background: url("../images/kim.jpg");
    background-size: cover;
    background-position: 50% 35%;
    padding: 2rem;
  }
  .leftWrapTop .figure {
    visibility: hidden;
  }
  .rightWrapTop {
    width: 50%;
    max-width: 675px;
    display: block;
  }
  .leftWrapBtm {
    width: 50%;
    display: flex;
  }
  .rightWrapBtm {
    width: 50%;
    background: url("../images/trio.jpg");
    background-size: cover;
    background-position: 50% 15%;
  }
  .rightWrapBtm .figure {
    visibility: hidden;
  }
  .figure {
    visibility: visible;
  }

  .figcaption {
    font-size: 1.25rem;
  }
  .quote {
    font-size: 3rem;
    line-height: 3rem;
  }
}
