.cta {
  max-width: 100%;
  margin: 0 auto;
  background: var(--primaryColor);
  border-top: 5px solid white;
  font-family: "Montserrat";
  color: white;
}

.ctaForm {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  /* max-width: 263px; */
}

.ctaRightWrap, .ctaLeftWrap {
}

.ctaLeftWrap {
  max-width: 527px;
  width: 100%;
  justify-self: flex-end;
  border-right: 2px solid white;
  padding-right: 1rem;
}
.ctaRightWrap {
  width: 100%;
  justify-self: flex-start;
  background: #EE6AB9;
  padding: 2rem;
}

.ctaRightWrap div {
  max-width: 527px;
}

.ctaHeader {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.15rem;
  display: block;
}

.ctaSubHeader {
  padding-top: .5rem;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
