.cta {
  max-width: 100%;
  margin:-21rem auto 0;
  background: var(--primaryColor);
  border-top: 4px solid white;
  font-family: "Montserrat";
  color: white;
  z-index: 99999;
  width: 100vw;
  height: auto;
  position: absolute;
}

.ctaForm {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  /* max-width: 263px; */
}

.ctaRightWrap, .ctaLeftWrap {
}

.ctaLeftWrap {
  max-width: 527px;
  width: 100%;
  justify-self: center;
  align-self: center;
  padding-right: 2rem;
}
.ctaRightWrap {
  border-left: none;
  border-top: 4px solid white;
  width: 100%;
  background: var(--accentColor);
  padding: 2rem;
}

.ctaRightWrap div {
  /* max-width: 527px; */
}

.ctaHeader {
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.15rem;
  display: block;
}

.ctaSubHeader {
  padding-top: .5rem;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.ctaButton {
  background: #454545;
  border: none;
  color: white;
  padding: 0 2rem;
}
.ctaDescription{
  font-size: 0.75rem;
  display: block;
  width: 30ch;
}

@media (min-width: 700px) {
  .ctaHeader{
    font-size: 2rem;
  }
  .ctaSubHeader {
    grid-template-columns: repeat(2, 1fr );
  }
  .ctaLeftWrap {
    justify-self: flex-end;
  }
  .ctaRightWrap {
    border-left: 2px solid white;
    border-top: none;
  }  
}
