.cta {
  max-width: 100%;
  /* margin:-21rem auto 0; */
  background: var(--primaryGradient);
  border-top: 4px solid white;
  font-family: "Montserrat";
  color: white;
  z-index: 9;
  width: 100vw;
  height: auto;
}

.ctaForm {
  display: flex;
  padding: 1rem 0;
  width: 100%;
}

.ctaForm input {
  background: white;
  border: none;
  box-shadow: inset 1px 1px 2px 0 #9a9a9a;
  padding: 0.5rem;
  max-width: 50%;
}

.ctaLeftWrap {
  max-width: 527px;
  width: 100%;
  justify-self: center;
  align-self: center;
  padding: 2rem;
}
.ctaRightWrap {
  border-left: none;
  border-top: 4px solid white;
  width: 100%;
  background: var(--accentColor);
  padding: 2rem;
  width: 100%;
}

.ctaRightWrap div {
  margin: 0 auto;
  text-align: center;
}

.ctaRightWrap div input{
  /* padding: 1rem; */
}

.ctaHeader {
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.15rem;
  display: block;
}

.ctaSubHeader {
  padding-top: .5rem;
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
.ctaDescription{
  font-size: 0.75rem;
  display: block;
  width: 30ch;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .ctaHeader{
    font-size: 2rem;
  }
  .ctaLeftWrap {
    justify-self: flex-end;
  }
  .ctaRightWrap {
    border-left: 2px solid white;
    border-top: none;
  }  
  .ctaRightWrap div {
    text-align: left;
    margin: 0;
  }
  .ctaDescription {
    margin: 0;
  }
  .ctaForm input {
    max-width: 100%;
  }  
}
