.footer {
  background: var(--blackColor);
  color: var(--whiteColor10);
  font-size: 13px;
  font-weight: 500;
  border-top: 4px solid white;
  padding: 2rem 0;
}

.upperFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid var(--transparentWhite50);
  padding: 4rem 0;
}

.innerFooter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 0;
  grid-gap: 4rem;
}
.innerFooter div {
  min-width: 20%;
}
.btnWrap {
  display: flex;
  gap: 0.75rem;
}
@media (min-width: 850px) {
  .innerFooter {
    grid-gap: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 4rem 0;
  }
}
@media (max-width: 500px) {
  .innerFooter {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    padding: 4rem 0;
  }
  .btnWrap {
    padding-top: 2rem;
  }
}
.innerFooter ul {
  line-height: 2rem;
}

.h4 {
  font-size: 1.25rem;
  font-weight: 900;
  padding-bottom: 1rem;
  color: white;
}
.headline {
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  color: white;
  padding-bottom: 0.5rem;
}
.description {
  font-size: 1rem;
  display: block;
}

.innerFooter ul li a {
  color: var(--whiteColor10);
  text-decoration: none;
}

.icon {
  font-size: 1.5rem;
}
.social {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 0.8rem;
}
