.hamburger,
.close {
  color: black;
  z-index: 55;
}
.hidden {
  font-size: 0;
}
.nav {
  background-color: var(--primaryColor);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
.nav:target {
  transform: translateX(0);
}
.nav ul {
  margin: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  text-align: left;
}

.nav div > div:last-of-type {
  border-bottom: 1px solid white;
}

.nav ul li a {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 75px;
  background: #0095e5;
}
.nav ul li ul {
  display: block;
}
.nav ul li ul li {
  background: #000;
}
.nav ul li ul li a {
  background: var(--primaryColorDark);
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 75px;
  width: 100%;
  text-indent: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  width: fit-content;
  /* height: 100%; */
}
.nav a:focus {
  /* outline: 5px solid white;
  outline-offset: 3px;
  outline-color: invert;
  outline-width: thick; */
}
.close:hover {
  background-color: transparent;
}
.active {
  /* background-color: #333; */
}
/* second level nav styles, commented out initially */
.nav ul ul {
  text-align: left;
}
.nav ul ul a {
  color: white;
  white-space: nowrap;
}
.nav ul ul a:hover,
.nav ul ul a:focus {
  width: 100%;
}
.mobileHidden {
  display: none;
}
.link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.tel {
  padding: 1rem;
}
@media (min-width: 650px) {
  .tel {
    padding: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  .mobileHidden {
    display: inline;
  }
  .link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    width: fit-content;
  }
  .nav {
    flex-direction: row;
    padding: 0;
    position: fixed;
    height: auto;
    transform: translateY(0);
    overflow: visible;
    width: 100%;
    align-items: center;
    /* padding: 1em; */
  }
  .nav ul {
    flex-flow: row wrap;
    justify-content: center;
  }
  .nav ul li {
    border-left: 1px solid white;
  }
  .nav ul li ul {
    width: fit-content;
  }
  .nav ul li ul li {
    border-left: none;
  }
  .nav ul li:last-of-type {
    border-right: 1px solid white;
  }
  .nav ul li a {
    border-bottom: none;
  }
  .nav ul li a:hover {
    background: #0074b2;
    border-top: 5px solid transparent;
    border-bottom: 5px solid white;
  }
  .nav ul li ul li a:hover {
    background: var(--primaryColorDark);
    border-top: 1px solid white;
    border-bottom: none;
  }
  .nav ul li ul li:last-of-type {
    border-right: none;
    border-bottom: 1px solid white;
  }
  .nav ul li ul li a {
    border-left: none;
    border: 1px solid white;
    border-bottom: none;
    justify-content: center;
    text-indent: 0;
  }

  .nav div > div:last-of-type {
    border-bottom: none;
  }
  a.hamburger,
  a.close {
    display: none;
    font-size: 0;
    visibility: hidden;
    background: red;
    z-indez: 99999;
  }
  .menu {
    display: flex;
  }
  .dropdown {
    position: relative;
    z-index: 9999;
  }
  .dropdownMenu {
    display: none;
    position: absolute;
    z-index: 1000;
    border-top: none;
    width: fit-content;
  }
  .dropdown .dropdownMenu {
  }
  .dropdown:hover .dropdownMenu {
    display: block;
  }
}
