.hamburger {
  color: white;
  z-index: 55555;
  margin: 1rem;
  position: fixed;
  right: 0;
  background: var(--darkColor);
  width: 50px;
  height: 50px;
}
.hidden {
  font-size: 0;
  position: absolute;
}
.nav {
  font-size: 1.25rem;
  background: var(--darkColor);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 5555;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  min-width: 100%;
  position: absolute;
}
.nav:target {
  transform: translateX(0);
}
.nav ul {
  width: 100%;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  text-align: left;
  border-top: 1px solid white;
  padding: 0;
}

.nav > div:last-of-type {
  border-bottom: 1px solid white;
}

.nav ul li a {
  width: 100%;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.nav ul li ul {
  display: block;
}
.nav ul li a {
  padding: 1rem;
}
.nav ul li ul li a {
  background: var(--darkColor);
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-indent: 1rem;
}

.nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.nav a:focus {
  /* border-bottom: 4px solid white; */
}
.close:hover {
  background-color: transparent;
}
.active {
  /* background-color: #333; */
}
/* second level nav styles, commented out initially */
.nav ul ul {
  text-align: left;
}
.nav ul ul a {
  color: white;
  white-space: nowrap;
}
.nav ul ul a:hover,
.nav ul ul a:focus {
  width: 100%;
}
.mobileHidden {
  display: none;
}
.link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  width: fit-content;
}
.logo {
  display: block;
}
.mobileLogo {
  z-index: 1;
  padding: 1rem 3rem 1rem 0;
  position: absolute;
  left: 0;
  /* display: flex; */
  /* align-self: flex-end; */
}
.tel {
  padding: 1rem;
}

@media (min-width: 850px) {
  .container {
    max-width: 1122px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .logo {
    padding: 0;
  }
  .mobileLogo {
    display: none;
  }
  .tel {
    padding: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
  .mobileHidden {
    display: inline;
  }
  .link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    width: fit-content;
  }
  .nav {
    flex-direction: row;
    padding: 0;
    height: auto;
    transform: translateY(0);
    overflow: visible;
    width: 100%;
    align-items: center;
  }
  .nav ul {
    border-top: none;
    flex-flow: row wrap;
    justify-content: center;
  }
  .nav ul li {
    border-left: 1px solid white;
  }
  .nav ul li ul {
    width: fit-content;
  }
  .nav ul li ul li {
    border-left: none;
    height: 75px;
  }
  .nav ul li:last-of-type {
    border-right: 1px solid white;
  }
  .nav ul li a {
    border-bottom: none;
    transition: all 0.2s;
  }
  .nav ul li a:hover {
    border-top: 4px solid transparent;
    border-bottom: 4px solid white;
  }
  .nav ul li ul li a:hover {
    background: var(--darkColor);
    border-top: 1px solid white;
    border-bottom: none;
  }
  .nav ul li ul li:last-of-type {
    border-right: none;
    border-bottom: 1px solid white;
  }
  .nav ul li ul li a {
    border-left: none;
    border: 1px solid white;
    border-bottom: none;
    justify-content: center;
    text-indent: 0;
  }

  .nav > div:last-of-type {
    border-bottom: none;
  }
  a.hamburger,
  a.close {
    display: none;
    font-size: 0;
    visibility: hidden;
    background: red;
  }
  .menu {
    display: flex;
  }
  .dropdown {
    position: relative;
    z-index: 9999;
  }
  .dropdownMenu {
    display: none;
    position: absolute;
    z-index: 1000;
    border-top: none;
    width: fit-content;
  }
  .dropdown:hover .dropdownMenu {
    display: block;
  }
}
