.hero {
  min-height: calc(100vh - 2.5rem);
  min-height: 107.5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -6.5rem;
}

.headline {
  /* margin-top: -26vh; */
  color: white;
  font-size: 3rem;
  font-weight: 900;
  font-family: Montserrat;
  letter-spacing: -0.15rem;
  display: inline-block;
  z-index: 99;
  /* padding-bottom: 1rem; */
}

.description {
  padding-top: 1rem;
  max-width: 40ch;
  display: inline-block;
  color: white;
  font-size: 1rem;
  z-index: 99;
  line-height: 1.25rem;
}

@media (min-width: 700px) {
  .description {
    max-width: 30ch;
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  .headline {
    font-size: 5rem;
  }
  .mobileLogo {
    display: none;
  }
}
