.hero {
  min-height: 124vh;
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 300px;
  align-items: flex-start;
}
.heroImg {
  z-index: 1;
}

.headline {
  color: white; 
  font-size: 3rem;
  font-weight: 900;
  font-family: Montserrat;
  /* background: hsla(0, 0%, 0%, 0.5); */
  display: inline-block;
  z-index: 99;
}

.description{
  display: inline-block;
  line-height: 1.75rem;
  color: white;
  font-weight: 1.5rem;
  z-index: 99;
}


@media (min-width: 700px) {
  .headline {
    font-size: 5rem;
  }
  .hero {
    padding-top: 525px;
  }
  .mobileLogo{
    display: none;
  }
}
