.hero {
  min-height: 100vh;
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hamburger,
.close {
  color: black;
  background: red;
  z-index: 3;
}
.heroImg {
  z-index: 1;
}

.headline {
  color: white; 
  font-size: 5em;
  font-weight: 900;
  font-family: Montserrat;
  /* background: hsla(0, 0%, 0%, 0.5); */
  display: inline-block;
  z-index: 99;
}

.description{
  display: inline-block;
  line-height: 1.75rem;
  color: white;
  font-weight: 1.5rem;
  z-index: 99;
}