.hero {
  min-height: 126vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 42vh;
}

.headline {
  color: white; 
  font-size: 3rem;
  font-weight: 900;
  font-family: Montserrat;
  display: inline-block;
  z-index: 99;
}

.description{
  max-width: 60ch;
  display: inline-block;
  line-height: 1.75rem;
  color: white;
  font-weight: 1.5rem;
  z-index: 99;
}


@media (min-width: 700px) {
  .headline {
    font-size: 5rem;
  }
  .mobileLogo{
    display: none;
  }
}
