.hero {
  min-height: 87vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  top: 100px;
}

.headline {
  margin-top: -26vh;
  color: white; 
  font-size: 3rem;
  font-weight: 900;
  font-family: Montserrat;
  letter-spacing: -0.15rem;
  display: inline-block;
  z-index: 99;
}

.description{
  max-width: 60ch;
  display: inline-block;
  line-height: 1.75rem;
  color: white;
  font-weight: 1.5rem;
  z-index: 99;
}

@media (min-width: 700px) {
  .hero {
    min-height: 100vh;
  }
  .headline {
    font-size: 4rem;
  }
  .mobileLogo{
    display: none;
  }
}
