.mission {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  background: white;
  border-top: 4px solid white;
  font-family: "Montserrat";
  color: #454545;
  padding: 6rem 0 4rem;
  position: relative;
}

.mission img {
  z-index: 0;
}

.missionLeftWrap {
  z-index: 55;
  max-width: 527px;
  width: 100%;
  padding: 2rem;
}
.missionRightWrap {
  z-index: 55;
  max-width: 527px;
  justify-self: center;
  align-self: center;
  width: 100%;
  border-left: none;
  border-top: 4px solid var(--primaryColor);
  padding: 2rem;
  height: 100%;
}

.missionHeader {
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.1rem;
  display: block;
  padding-bottom: 1rem;
  color: #787878;
}

.missionSubHeader {
  padding-bottom: .5rem;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primaryColor);
}
.missionDescription{
  display: block;
  line-height: 2rem;
}
.missionList{
  line-height: 3rem;
}

.missionList li {
  
}

.missionList li:before {
  content: url("../images/check.svg");
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: 0.35rem;
}

/* .missionList li svg {
  color: #787878;
  font-size: 2rem;
  padding-right: 0.25rem;
} */

@media (min-width: 700px) {
  .mission{
    grid-template-columns: 1fr 1fr;
  }
  .missionSubHeader {
    grid-template-columns: repeat(2, 1fr );
  }
  .missionLeftWrap {
    justify-self: flex-end;
    align-self: flex-start;
  }
  .missionRightWrap {
    border-left: 2px solid white;
    border-top: none;
    justify-self: flex-start;
    align-self: flex-start;
  }  
}
