.mission {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  max-width: 100%;
  background: white;
  border-top: 4px solid white;
  font-family: "Montserrat";
  color: #454545;
  padding: 4rem 0;
  position: relative;
}

.mission img {
  z-index: 0;
}

.missionLeftWrap {
  z-index: 55;
  max-width: 675px;
  width: 100%;
  padding: 2rem;
  justify-self: center;
}
.missionRightWrap {
  z-index: 55;
  max-width: 675px;
  justify-self: center;
  align-self: center;
  width: 100%;
  border-left: none;
  padding: 2rem;
  height: 100%;
}

.missionHeader {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.1rem;
  display: block;
  padding-bottom: 1rem;
  color: #787878;
}

.missionSubHeader {
  padding-bottom: 0.5rem;
  display: block;
  font-size: 1.25rem;
  letter-spacing: -0.05rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--primaryColor);
}
.missionDescription {
  display: block;
  line-height: 2rem;
}

.missionList li {
  padding-left: 1.5rem;
  /* padding-top: 1.5rem; */
  line-height: 2rem;
}

.missionList li:before {
  content: url("../images/check.svg");
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 0.35rem;
  left: 0;
  margin-left: -2rem;
  margin-right: 0.5rem;
}

@media (min-width: 850px) {
  .mission {
    grid-template-columns: repeat(2, 1fr);
  }

  .missionHeader {
    font-size: 2.75rem;
  }
  .missionSubHeader {
    font-size: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .missionLeftWrap {
    justify-self: flex-end;
    align-self: flex-start;
  }
  .missionRightWrap {
    height: fit-content;
    border-left: 2px solid white;
    border-top: none;
    justify-self: flex-start;
    align-self: center;
  }
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  color: var(--grey);
}
.stat {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-size: 3rem;
  font-weight: 900;
  width: fit-content;
}

.stat span:last-child {
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
}
