.mission {
  max-width: 100%;
  margin: 0 auto;
  background: white;
  border-top: 4px solid white;
  font-family: "Montserrat";
  color: #454545;
  padding: 4rem 0;
}

.missionLeftWrap {
  max-width: 527px;
  width: 100%;
  justify-self: center;
  align-self: center;
  padding-right: 2rem;
}
.missionRightWrap {
  max-width: 527px;
  width: 100%;
  border-left: none;
  border-top: 4px solid white;
  padding: 2rem;
}

.missionHeader {
  font-size: 1.75rem;
  font-weight: 800;
  letter-spacing: -0.15rem;
  display: block;
  padding-bottom: 1rem;
}

.missionSubHeader {
  padding-bottom: .5rem;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.missionDescription{
  display: block;
  line-height: 2rem;
}

@media (min-width: 700px) {
  .missionHeader{
    font-size: 2rem;
  }
  .missionSubHeader {
    grid-template-columns: repeat(2, 1fr );
  }
  .missionLeftWrap {
    justify-self: flex-end;
  }
  .missionRightWrap {
    border-left: 2px solid white;
    border-top: none;
  }  
}
