.sidebar {
  position: relative;
  top: -200px;
}
.sidebarWidget {
  height: fit-content;
  padding: 1rem 0 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.sidebarWidget form {
  padding: 2rem 4rem;
}

.sidebarWidget label {
  color: white;
  display: inline-block;
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.testimonial {
  color: var(--whiteColor);
  padding: 0 4rem;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 2rem;
}
.testimonialImg {
  min-width: 33%;
  position: relative;
  padding: 1.5rem;
  margin: 3rem;
  background: var(--whiteColor);
  border-radius: 90%;
  border: 40px solid var(--whiteColor);
  aspect-ratio: 1/1;
}
.testimonialImg img {
  border-radius: 90%;
}

@media (max-width: 1050px) {
  .sidebar {
    top: 0;
  }
}

@media (min-width: 700px) and (max-width: 1050px) {
  .sidebarWidget {
    flex-direction: row;
  }
}

@media (max-width: 699px) {
  .sidebarWidget {
    flex-direction: column-reverse;
  }
}
