.testimonials {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top: 4px solid white;
}

.headline, .quote {
  font-weight: 800;
  letter-spacing: -0.075rem;
  display: block;
  padding-bottom: 1rem;
}
.headline {
  font-size: 3rem;
}
.quote{
  font-size: 1.5rem;
  line-height: 2.75rem;

}
.figure {
  margin: 0 auto;
}

.figcaption {
  /* line-height: 1rem; */
  /* font-size: 1.25rem; */
  font-weight: 200;
}
.figcaption span {
  font-weight: 400;
}
.testimonials img {
  z-index: -1;
}

.leftWrapTop {
  position: relative;
  width: 100%;
  justify-self: center;
  align-self: center;
  background: url("../images/ray-sm.jpg");
  background-size: cover;
  background-position: 50% 35%;
  padding: 2rem;
  width: 100%;
  justify-self: center;
  align-self: center;
}
.leftWrapTop .figure {
  max-width: 527px;
  padding: 2rem;
  color: white;
  visibility: visible;
}

.rightWrapTop {
  display: none;
  width: 100%;
  max-width: 527px;
  padding: 2rem;
  color: #787878;
}
.rightWrapTop figcaption {
  color: var(--lightGrey);
}

.leftWrapBtm {
  width: 100%;
  background: var(--accentColor);
  color: var(--whiteColor);
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  display: none;
}

.leftWrapBtm p {
  color: white;
  font-weight: 500;
}

.leftWrapBtm figure {
  padding: 2rem 0rem 2rem 4rem;
  max-width: 527px;
  justify-self: flex-end;
}

.rightWrapBtm {
  position: relative;
  justify-self: center;
  align-self: center;
  object-position: center;
  background: url("../images/trio-sm-pink.jpg");
  background-size: cover;
  background-position: 50% 35%;
  padding: 4rem 0;
  width: 100%;
  justify-self: center;
  color: white;
  text-align: center;
}
.rightWrapBtm figure {
  max-width: 527px;
  padding: 2rem;
}

@media (min-width: 850px) {
  .testimonials {
    flex-direction: row;
  }
  .headline {
    font-size: 3rem;
  }
  .leftWrapTop {
    width: 50%;
    background: url("../images/kim.jpg");
    background-size: cover;
    background-position: 50% 35%;
    padding: 2rem;
  }
  .leftWrapTop .figure {
    visibility: hidden;
  }
  .rightWrapTop {
    width: 50%;
    display: block;
  }
  .leftWrapBtm {
    width: 50%;
    display: flex;
  }
  .rightWrapBtm {
    width: 50%;
    background: url("../images/trio.jpg");
    background-size: cover;
    background-position: 50% 15%;
  }
  .rightWrapBtm .figure {
    visibility: hidden;
  }
  .figure {
    margin: 4rem 2rem;
    visibility: visible;
  }
  .quote{
    font-size: 3rem;
    line-height: 3rem;
  }
}
