.testimonials {
  overflow: hidden;
  display: flex;
  border-top: 4px solid white;
}

.headline {
  margin: 4rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 2.75rem;
  letter-spacing: -0.075rem;
  display: block;
  padding-bottom: 1rem;
  color: #787878;
  max-width: 527px;
}

.testimonials img {
  z-index: -1;
}

.leftWrapTop {
  position: relative;
  width: 50%;
  justify-self: center;
  align-self: center;
  object-position: center;
  background: url("../images/kim.jpg");
  background-size: cover;
  background-position: 50% 35%;
  padding: 2rem;
  /* max-width: 527px; */
  width: 50%;
  justify-self: center;
}
.leftWrapTop figure{
  visibility: hidden;
}
.rightWrapTop {
  position: relative;
  width: 50%;
  justify-self: center;
  align-self: center;
  object-position: center;
  /* background: url("../images/kim.jpg"); */
  background-size: cover;
  background-position: 50% 35%;
  padding: 2rem;
  /* max-width: 527px; */
  width: 50%;
  justify-self: center;
}

.leftWrapBtm {
  position: relative;
  width: 50%;
  justify-self: center;
  align-self: center;
  object-position: center;
  /* background: url("../images/kim.jpg"); */
  background-size: cover;
  background-position: 50% 35%;
  padding: 2rem;
  /* max-width: 527px; */
  width: 50%;
  justify-self: center;
}
.rightWrapBtm figure{
  visibility: hidden;
}
.rightWrapBtm {
  position: relative;
  width: 50%;
  justify-self: center;
  align-self: center;
  object-position: center;
  background: url("../images/kim.jpg");
  background-size: cover;
  background-position: 50% 35%;
  padding: 2rem;
  /* max-width: 527px; */
  width: 50%;
  justify-self: center;
}
