.testimonials {
  overflow: hidden;
  display: flex;
  border-top: 4px solid white;
}

.headline {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.075rem;
  display: block;
  padding-bottom: 1rem;
}

.testimonials img {
  z-index: -1;
}

.leftWrapTop {
  position: relative;
  width: 50%;
  justify-self: center;
  align-self: center;
  object-position: center;
  background: url("../images/kim.jpg");
  background-size: cover;
  background-position: 50% 35%;
  padding: 2rem;
  width: 50%;
  justify-self: center;
}
.leftWrapTop figure {
  max-width: 527px;
  padding: 2rem;
  visibility: hidden;
}

.rightWrapTop {
  max-width: 527px;
  width: 50%;
  padding: 2rem;
  color: #787878;
}
.rightWrapTop figcaption {
  color: var(--grey45);
}

.leftWrapBtm {
  width: 50%;
  background: var(--accentColor);
  color: var(--whiteColor);
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.leftWrapBtm figure {
  /* width: 50%; */
  padding: 2rem 0rem 2rem 4rem;
  max-width: 527px;
}

.rightWrapBtm {
  position: relative;
  justify-self: center;
  align-self: center;
  object-position: center;
  background: url("../images/trio.jpg");
  background-size: cover;
  background-position: 50% 35%;
  padding: 4rem;
  width: 50%;
  justify-self: center;
}
.rightWrapBtm figure {
  max-width: 527px;
  padding: 2rem;
  visibility: hidden;
}