@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
p, span, li, h1, h2, h3, h4, h5, h6, a, blockquote{
  max-width: 65ch;
}
h2, h3, p {
  margin-top: 1em;
  max-width: 65ch;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body, input, button {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: var(--accentColor)
}
.container{
  max-width: 1122px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}

figcaption {
  line-height: 1rem;
  font-size: 1.25rem;
  font-weight: 200;
}
figcaption span {
  font-weight: 500;
}
blockquote {
  padding-bottom: 1rem;
}

blockquote span::before {
  position: relative;
  top: 16px;
  line-height: 25%;
  font-size: 5rem;
  content: '\201C';
}

blockquote span::after {
  position: relative;
  top: 16px;
  line-height: 25%;
  font-size: 5rem;
  content: '\201D';
}

.underline{
  text-decoration: underline;
}

.section{
  /* padding: 2em 0; */
}
.bold{
  font-weight: bold;
}
.grid2 {
  display: grid;
  grid-template-columns: 100%;
}
.flex {
  display: flex;
}
.text-input{
  padding: 0.5rem;
  width: 250px;
}

@media (min-width: 700px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr );
  }
  
}

:root{
  --primaryColor: hsla(201, 100%, 45%, 1.0);
  --primaryColorDark: #0074B2;
  --accentColor: #EE6AB9;
  --lightGrey: #A0A0A0;
  --darkGrey: #454545;
  --blackColor: #002133;
  --whiteColor: #E4E7EC;
  --whiteColor10: #C6CCD7;
  --transparentWhite50: hsla(0, 100%, 100%, 0.25);
}
