.mastheadWrap {
  position: relative;
  width: 100%;
  min-height: 560px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.mastheadWrap h1 {
  color: white;
  font-size: 2.5rem;
}

.mastheadWrap p {
  color: white;
}

.heading {
  position: relative;
}

.pageWrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
}

@media (min-width: 1050px) {
  .pageWrap {
    grid-template-columns: 2fr 1fr;
  }
}
