p,
span,
a,
dl,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* max-width: 60ch; */
}
body,
input,
button {
  font-size: 100%;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--grey);
}
code {
  font-family: "Menlo";
}
a {
  color: var(--accentColor);
}
a:hover {
  color: var(--primaryColor);
}

blockquote {
  padding-bottom: 1rem;
}

blockquote p {
  font-size: 2rem !important;
  line-height: 3rem !important;
}

blockquote p::before,
blockquote span::before {
  position: relative;
  top: 16px;
  line-height: 25%;
  font-size: 5rem;
  content: "\201C";
}

blockquote p::after,
blockquote span::after {
  position: relative;
  top: 16px;
  line-height: 25%;
  font-size: 5rem;
  content: "\201D";
}

input {
  padding: 0.5rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px var(--lightGrey);
}

strong {
  font-weight: bold;
}

.inputWrap {
  padding: 0.5rem 0;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}
.grid {
  display: grid;
  grid-template-columns: 100%;
}
.flex {
  display: flex;
}
article {
  padding-bottom: 4rem;
}

main .container {
  background: var(--papayaWhip25);
}
.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
