.page p,
.page ul {
  line-height: 1.75;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.page ul li {
  list-style: disc outside;
  margin-left: 1rem;
  padding-bottom: 0.75rem;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5 {
  margin: 3rem 0 1.5rem;
  font-family: "Inter", sans-serif;
  line-height: 1;
}

.page h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.page h2 {
  font-size: 2rem;
  font-weight: 800;
}

.page h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.page h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.page h5 {
  font-size: 1rem;
  font-weight: 500;
}

small,
.text-sm {
  font-size: 0.75rem;
}

.mastheadWrap {
  position: relative;
  width: 100%;
  min-height: 560px;
  display: flex;
  align-items: center;
}

.mastheadWrap .h1 {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  margin: 3rem 0 1.5rem;
  font-family: "Inter", sans-serif;
  line-height: 1.25;
  color: white;
}

.mastheadWrap .description {
  display: block;
  color: white;
  line-height: 1.5rem;
  max-width: 60ch;
}

.heading {
  position: relative;
}

.pageWrap {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 3rem;
  justify-content: center;
  /* align-items: center; */
  margin: 0 auto;
  max-width: 100%;
}
main .container {
  background: var(--papayaWhip25);
  display: block;
  padding: 0 2rem;
}

@media (min-width: 1050px) {
  .pageWrap {
    grid-template-columns: 2fr 1fr;
  }
  .sidebarWrap {
    position: relative;
    top: -200px;
  }
}
@media (min-width: 650px) {
  .page h1,
  .page h2,
  .page h3,
  .page h4,
  .page h5 {
    margin: 3rem 2rem 1.5rem;
    font-family: "Inter", sans-serif;
    line-height: 1.25;
  }

  .page h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  .page h2 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  .page h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  .page h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .page h5 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  .page p,
  .page ul {
    line-height: 2;
    font-size: 1.25rem;
    margin: 0 2rem;
    margin-bottom: 2.25rem;
  }

  .page ul li {
    margin-left: 3rem;
  }

  .mastheadWrap .h1 {
    color: white;
    font-size: 3.5rem;
    padding: 0 2rem;
  }

  .mastheadWrap .description p {
    margin: 0;
    padding: 0 2rem;
  }
}
