:root {
  --primaryColor: hsla(201, 100%, 45%, 1);
  --primaryColor50: hsla(201, 100%, 45%, 0.5);
  --primaryGradient: -webkit-linear-gradient(
    top,
    #0095e6 0%,
    #20a0e5 51%,
    #0095e6 100%
  );
  --accentColor: hsla(324, 80%, 67%, 1);
  --accentColor50: hsla(324, 80%, 67%, 0.5);
  --accentGradient: -webkit-linear-gradient(
    top,
    #ee6ab9 0%,
    #ed82c0 50%,
    #ee6ab9 100%
  );
  --darkColor: hsla(201, 100%, 10%, 1);
  --grey05: hsla(0, 0%, 95%, 1);
  --grey10: hsla(0, 0%, 90%, 1);
  --grey15: hsla(0, 0%, 85%, 1);
  --grey20: hsla(0, 0%, 80%, 1);
  --grey25: hsla(0, 0%, 75%, 1);
  --grey30: hsla(0, 0%, 70%, 1);
  --grey40: hsla(0, 0%, 60%, 1);
  --grey50: hsla(0, 0%, 50%, 1);
  --grey75: hsla(0, 0%, 25%, 1);
  --transparentWhite25: hsla(0, 100%, 100%, 0.25);
  --transparentBlack25: hsla(0, 0%, 10%, 0.25);
  --transparentBlack50: hsla(0, 0%, 10%, 0.5);
  --transparentBlack75: hsla(0, 0%, 10%, 0.75);
  --papayaWhip25: hsla(37, 100%, 92%, 0.25);
  --papayaWhip50: hsla(37, 100%, 92%, 0.5);
  --papayaWhip75: hsla(37, 100%, 92%, 0.75);
  --papayaWhip: hsla(37, 100%, 92%, 1);
}
